{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Imagen de Prueba</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repudiandae dicta beatae voluptates ut quas ea cum! Quas doloribus veritatis perferendis repudiandae sequi asperiores non dicta, sed id, deleniti excepturi.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/favicon.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}